{% extends "govuk/template.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/skip-link/macro.njk" import govukSkipLink %}
{% from "naturescot/components/header/macro.njk" import naturescotHeader %}

{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "naturescot/components/footer/macro.njk" import naturescotFooter %}

{% set assetPath = "/govuk-frontend/assets" %}

{% block pageTitle %}NatureScot - Licensing - Traps Registration{% endblock %}

{% block headIcons %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="/dist/main.css">
{% endblock %}

{% block bodyStart %}
  <script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>
{% endblock %}

{% block skipLink %}
  {{ govukSkipLink({
    href: "#main-content",
    text: "Skip to main content"
  }) }}
{% endblock %}

{% block header %}
  {{ naturescotHeader({
    homepageUrl: "#",
    containerClasses: "govuk-width-container",
    serviceName: "Trap Registration",
    serviceUrl: "/"
  }) }}
{% endblock %}

{% set mainClasses = "app-main-class" %}

<div class="govuk-width-container">
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
  {% if backUrl %}
    {{ govukBackLink({
      text: "Back",
      href: backUrl
    }) }}
  {% endif %}
{% endblock %}
</div>

<div class="govuk-width-container">
{% block content %}

{% endblock %}
</div>

{% block footer %}
  {{ naturescotFooter({
    meta: {
      items: [
        {
          href: "#1",
          text: "Help"
        },
        {
          href: "#2",
          text: "Cookies"
        },
        {
          href: "#3",
          text: "Contact"
        },
        {
          href: "#4",
          text: "Terms and conditions"
        }
      ]
    }
  }) }}
{% endblock %}

{% block bodyEnd %}
  <script src="/govuk-frontend/all.js"></script>
  <script>window.GOVUKFrontend.initAll()</script>
{% endblock %}
</body>
</html>
