{% extends "_base.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% block content %}

  {% if model.complyError %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "You must confirm that you agree to comply with the terms of the General Licences.",
          href: "#comply-error"
        }
      ]
    }) }}
  {% endif %}

  <form method="post">
    {{ govukCheckboxes({
      idPrefix: "comply",
      name: "comply",
      fieldset: {
        legend: {
          text: "Please confirm that you agree to comply with the terms of the General Licences",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      hint: {
        html:
          'General Licence <a class="govuk-link" href="https://gateway.snh.gov.uk/go/?id=18">GL01</a>, ' +
          '<a class="govuk-link" href="https://gateway.snh.gov.uk/go/?id=19">GL02</a> & ' +
          '<a class="govuk-link" href="https://gateway.snh.gov.uk/go/?id=20">GL03</a> can be found here. ' +
          'Please note it is your responsibility to ensure that you do not use General Licences on areas where ' +
          'General Licences are currently restricted. ' +
          '<a class="govuk-link" href="https://www.nature.scot/general-licences-birds-restrictions">More information ' +
          'can be found here</a>. This information will be updated regularly.'
        },
      errorMessage: {
        text: "You must confirm that you agree to comply with the terms of the General Licences."
      } if model.complyError,
      items: [
        {
          value: "yes",
          text: "I agree to comply with the terms of the General Licences",
          checked: model.comply === 'yes'
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>

{% endblock %}
