{% extends "_base.njk" %}


{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% block content %}

  {% if model.complyError %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "You must confirm you understand the terms of the General Licences and agree to comply by them or not.",
          href: "#comply-error"
        }
      ]
    }) }}
  {% endif %}

  <form method="post">
    {{ govukRadios({
      classes: "govuk-radios--inline",
      idPrefix: "comply",
      name: "comply",
      fieldset: {
        legend: {
          text: "Can you confirm you understand the terms of the General Licences and agree to comply by them?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      hint: {
        html:
          'General Licence <a class="govuk-link" href="https://gateway.snh.gov.uk/go/?id=18">GL01</a>, ' +
          '<a class="govuk-link" href="https://gateway.snh.gov.uk/go/?id=19">GL02</a> & ' +
          '<a class="govuk-link" href="https://gateway.snh.gov.uk/go/?id=20">GL03</a> can be found here.'
      },
      errorMessage: {
        text: "You must confirm you understand the terms of the General Licences and agree to comply by them or not."
      } if model.complyError,
      items: [
        {
          value: "yes",
          text: "Yes",
          checked: model.comply === 'yes'
        },
        {
          value: "no",
          text: "No",
          checked: model.comply === 'no'
        }
      ]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>

{% endblock %}
