{% extends "_base.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% block content %}

  {% if model.complyError %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "You must confirm that you agree to comply with the terms and conditions of the General Licences.",
          href: "#comply-error"
        }
      ]
    }) }}
  {% endif %}

  <form method="post">
    {{ govukCheckboxes({
      idPrefix: "comply",
      name: "comply",
      fieldset: {
        legend: {
          text: "Please confirm that you agree to comply with the terms and conditions of the General Licences",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--xl"
        }
      },
      errorMessage: {
        text: "You must confirm that you agree to comply with the terms and conditions of the General Licences."
      } if model.complyError,
      items: [
        {
          value: "yes",
          text: "I agree to comply with the terms and conditions of the General Licences",
          checked: model.comply === 'yes'
        }
      ]
    }) }}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <p class="govuk-body">
          It is your responsibility to ensure that you do not use General
          Licences on areas where they are currently restricted. For more
          information, please refer to our
          <a class="govuk-link" href="http://gateway.snh.gov.uk/go/?id=26">General Licences</a>
          and
          <a class="govuk-link" href="http://gateway.snh.gov.uk/go/?id=27">Restrictions</a> pages.
        </p>

        {{ govukWarningText({
          text:
            "These terms and conditions will be updated annually and it is " +
            "your responsibility to check and comply with the terms and " +
            "conditions of the most current licences.",
          iconFallbackText: "Warning"
        }) }}

        {{ govukButton({
          text: "Continue",
          classes: "naturescot-forward-button"
        }) }}

      </div>
    </div>

  </form>
{% endblock %}
