{% extends "_base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% block content %}
  <h1 class="govuk-heading-xl">You are eligible to use traps under a General Licence</h1>

  <p class="govuk-body">
        Based on your answers, you are eligible to use Larsen traps,
        Larsen mate traps, Larsen pod traps and/or multi-catch cage traps under
        NatureScot's General Licences
        <a class="govuk-link" href="https://gateway.snh.gov.uk/go/?id=18">GL01</a> &amp;
        <a class="govuk-link" href="https://gateway.snh.gov.uk/go/?id=19">GL02</a>.
    </p>

  <form method="post">
    {{ govukButton({
          text: "Continue",
          classes: "naturescot-forward-button"
        }) }}
  </form>
{% endblock %}
