{% extends "_base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% block content %}
  <h1 class="govuk-heading-xl">How we use your information</h1>

  <p class="govuk-body">
    Your details will be held by NatureScot for the purposes of licensing and
    for registration for the use of traps under NatureScot’s General Licences.
    We will share this information with Police Scotland for the purposes of
    crime prevention and detection. Please see
    <a href="https://www.nature.scot/about-snh/access-information-and-services/access-information/privacy-notice">
      our privacy notice
    </a>
    for further information.
  </p>

  <form method="post">
    <input type="hidden" name="acceptGdpr" value="yes">

    {{ govukButton({
          text: "Continue"
        }) }}
  </form>
{% endblock %}
