{% extends "_base.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        How we use your information
      </h1>

      <h2 class="govuk-heading-l">
        Who collects your personal data
      </h2>
      <p class="govuk-body">
        The data controller is Scottish Natural Heritage known as NatureScot at:
      </p>
      <p class="govuk-body">
        Great Glen House<br>
        Leachkin Road<br>
        Inverness<br>
        IV3 8NW
      </p>
      <p class="govuk-body">
        Send questions about how NatureScot uses your personal data and your
        associated rights to the Data Protection Manager at
        <a class="govuk-link" href="mailto:dpo@nature.scot">
          dpo@nature.scot
        </a>
        or:
      </p>
      <p class="govuk-body">
        Data Protection Officer<br>
        SNH<br>
        Battleby<br>
        Redgorton<br>
        Perth<br>
        PH1 3EW<br>
      </p>

      <h2 class="govuk-heading-l">
        What personal data's collected and how it's used
      </h2>
      <p class="govuk-body">
        NatureScot will use the information on the trap registration form to
        undertake its general licensing functions. This will include, but is not
        limited to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>issuing a trap registration</li>
        <li>monitoring compliance with general licence conditions</li>
        <li>collating returns and reports</li>
      </ul>
      <p class="govuk-body">
        The personal information NatureScot processes will include, but is not
        limited to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your name</li>
        <li>contact details</li>
        <li>general licences trapping will occur under</li>
        <li>use of meat baits in certain trap types</li>
      </ul>

      <h2 class="govuk-heading-l">The legal basis for processing your personal data</h2>
      <p class="govuk-body">
        Processing your data is necessary for the:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>performance of a task carried out in the public interest</li>
        <li>exercise of official authority vested in the data controller</li>
      </ul>
      <p class="govuk-body">
        The task is to conduct the functions in relation to licences as delegated by
        The Scottish Ministers to Scottish Natural Heritage under section 16A of The
        Wildlife and Countryside Act 1981 as amended.
      </p>

      <h2 class="govuk-heading-l">
        Consent to process your data
      </h2>
      <p class="govuk-body">
        The processing of your data is not based on consent. You cannot withdraw it.
      </p>

      <h2 class="govuk-heading-l">
        Who NatureScot shares your personal data with
      </h2>
      <p class="govuk-body">
        NatureScot may share your information with third parties:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>at certain stages of the trap registration process</li>
        <li>for particular trap registrations</li>
      </ul>
      <p class="govuk-body">
        NatureScot may do this to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>check information you provide on a trap registration</li>
        <li>monitor effects on protected species</li>
      </ul>
      <p class="govuk-body">
        NatureScot only shares information when necessary and anonymously whenever
        possible.
      </p>
      <p class="govuk-body">
        The table shows the organisations NatureScot shares information with and the
        purposes it does this for.
      </p>
      {{ govukTable({
        firstCellIsHeader: true,
        head: [
          {
            text: "Organisation"
          },
          {
            text: "Sharing purpose"
          }
        ],
        rows: [
          [
            {
              text: "Statutory nature conservation bodies"
            },
            {
              text: "Compliance, enforcement, licence assessment"
            }
          ],
          [
            {
              text: "Scottish Government"
            },
            {
              text: "Compliance, enforcement, licence assessment"
            }
          ],
          [
            {
              text: "Police Scotland"
            },
            {
              text: "Compliance, enforcement activity"
            }
          ]
        ]
      }) }}

      <p class="govuk-body">
        NatureScot may make some information available where there's public interest
        in wildlife licensing and who it issued licences or registrations to.
        Information released may include, but is not limited to:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>your name or business name</li>
        <li>application, registration and licence details</li>
        <li>reports and returns</li>
      </ul>
      <p class="govuk-body">
        NatureScot will not release information for licensed activities that are
        sensitive or could harm people, species or habitats, for example names and
        addresses of individuals, locations of licensed activities.
      </p>
      <p class="govuk-body">
        NatureScot respects your personal privacy when responding to access to
        information requests. NatureScot only shares information when necessary to
        meet statutory requirements of the Environmental Information (Scotland)
        Regulations 2004 and the Freedom of Information Act 2000.
      </p>

      <h2 class="govuk-heading-l">
        How long NatureScot holds personal data
      </h2>
      <p class="govuk-body">
        NatureScot will keep your personal data for 7 years after the expiry of your
        registration or longer if stated in the licence conditions.
      </p>

      <h2 class="govuk-heading-l">
        What happens if you do not provide the data
      </h2>
      <p class="govuk-body">
        NatureScot will be unable to grant your registration for using traps under
        our general licences if you do not provide the data.
      </p>

      <h2 class="govuk-heading-l">
        Use of automated decision-making or profiling
      </h2>
      <p class="govuk-body">
        The information you provide is not used for:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          automated decision making (making a decision by automated means without
          any human involvement)
        </li>
        <li>
          profiling (automated processing of personal data to evaluate certain
          things about an individual)
        </li>
      </ul>

      <h2 class="govuk-heading-l">
        Transfer of data outside the European Economic Area (EEA)
      </h2>
      <p class="govuk-body">
        NatureScot will not transfer your data outside the <abbr title="European Economic Area">EEA</abbr>.
      </p>


      <h2 class="govuk-heading-l">
        Your rights
      </h2>
      <p class="govuk-body">
        Find out about your
        <a class="govuk-link" href="https://ico.org.uk/for-organisations/guide-to-the-general-data-protection-regulation-gdpr/individual-rights/">
          individual rights
        </a>
        under the General Data Protection Regulation (GDPR), the Data Protection Act 2018.
      </p>

      <h2 class="govuk-heading-l">
        Complaints
      </h2>
      <p class="govuk-body">
        You have the right to
        <a class="govuk-link" href="https://ico.org.uk/make-a-complaint/">
          make a complaint
        </a>
        to the Information Commissioner’s Office at any time.
      </p>

      <form method="post">
        <input type="hidden" name="acceptGdpr" value="yes">

        {{ govukButton({
              text: "Continue"
            }) }}
      </form>
    </div>
  </div>
{% endblock %}
