{% extends "_base.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% block content %}
    <h1 class="govuk-heading-xl">No registration required</h1>

    <p class="govuk-body">If you do not use or plan to use:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li>a Larsen trap</li>
        <li>a Larsen mate trap</li>
        <li>a Larsen pod trap</li>
        <li>a multi-catch cage trap</li>
    </ul>

    <p class="govuk-body">
      under SNH General Licences GL01 2019, GL02 2019 &amp; GL03 2019, you do
      not need to register using this service.
    </p>
{% endblock %}
