{% extends "_base.njk" %}

{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% block content %}
  {{ govukPanel({
        titleText: "Registration complete",
        html: "Your registration number is<br><strong>"+model.regNo+"</strong><br><br>" +
              "Expiry date<br><strong>"+model.expiryDate+"</strong>"
      }) }}

  <p class="govuk-body">We have sent you a confirmation email.</p>
  <p class="govuk-body">
        This email will contain your full registration details and provide you
        with a copy of the current General Licences for your information.
      </p>

  <h2 class="govuk-heading-m">What happens next</h2>

  <p class="govuk-body">
        You must understand and comply with the conditions attached to the General Licences.
      </p>

  {% if model.meatBait %}
    <p class="govuk-body">We will ask you every year what non-target species you have caught using this <a href="https://www.nature.scot/licence-return-form-meat-bait">return form</a>.</p>
    <p class="govuk-body">Please make sure you keep a record of:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>what non-target species are caught</li>
      <li>the location of the trap</li>
      <li>how many of each non-target species are trapped</li>
      <li>the trap type that was used</li>
    </ul>
    <p class="govuk-body">Please submit this information, even if you have not caught anything, within one month of the expiry of the General Licence, on or before 31st January.</p>
  {% endif %}

  <p class="govuk-body">
        We will contact you by email 3 months before your registration expires to remind you to register again.
      </p>
  <p class="govuk-body">
        If you no longer require this registration or you are convicted of a wildlife crime you must inform us by email.
      </p>
  <p class="govuk-body">
          Email:<br>
    <strong class="govuk-!-font-weight-bold">
      <a class="govuk-link" href="mailto:traps@nature.scot">traps@nature.scot</a>
    </strong>
  </p>

  <p class="govuk-body">
    <a href="#" class="govuk-link">What do you think of this service?</a> (takes 30 seconds)
      </p>
{% endblock %}
