{% extends "_base.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% block content %}
  {% if model.usingTrapsError %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: [
        {
          text: "You must confirm whether you are using or planning to use a trap under a General Licence or not.",
          href: "#using-traps-error"
        }
      ]
    }) }}
  {% endif %}

  <form method="post">

    {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "using-traps",
        name: "usingTraps",
        fieldset: {
            legend: {
                text: "Are you using or planning to use a trap under a General Licence?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
            }
        },
        hint: {
            html:
                "A trap under General Licence is either a Larsen trap, a Larsen mate trap, a Larsen pod trap or a multi-catch cage trap. " +
                "Traps can be used under SNH General Licences " +
                '<a class="govuk-link" href="https://gateway.snh.gov.uk/go/?id=18">GL01</a>, ' +
                '<a class="govuk-link" href="https://gateway.snh.gov.uk/go/?id=19">GL02</a>, ' +
                '<a class="govuk-link" href="https://gateway.snh.gov.uk/go/?id=20">GL03</a> &amp; ' +
                '<a class="govuk-link" href="https://gateway.snh.gov.uk/go/?id=21">GL04</a>. ' +
                "Even if you have already registered with Police Scotland on behalf of a property you will need to reregister with us as an individual."
        },
        errorMessage : {
          text: "You must confirm whether you are using or planning to use a trap under a General Licence or not."
        } if model.usingTrapsError,
        items: [
            {
                value: "yes",
                text: "Yes",
                checked: model.usingTraps === 'yes'
            },
            {
                value: "no",
                text: "No",
                checked: model.usingTraps === 'no'
            }
        ]
    }) }}

    {{ govukButton({
        text: "Continue"
    }) }}
  </form>

{% endblock %}
