body {
  margin: 0;
}

$govuk-assets-path: '/govuk-frontend/assets/';
@import "~govuk-frontend/govuk/all";

$naturescot-logo: '/dist/naturescot-logo.png';
@import "~naturescot-frontend/naturescot/all";
